html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    max-width: 70em;
    margin: 0 auto;
    padding: 1em;
    color: red;
}
footer {
    padding: 1em 0;
}
.products-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 1em;
}
.product {
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    margin: 0;
}
.product img {
    width: 100%;
}
